.plan
  .navigation
    .item
      %a{:href=>plan_url($plan)} Overview
    .item
      %a{:href=>plan_url($plan, 'busi${$sext['asdf']}ss')} Business Plan
    .item
      %a{:href=>"/users/{$plan->url}/${next['shot']}"} asdf
    .item
      %a{:href=>"/users/{$plan->url}/${next['shot']}"} asdf
